
/*  Encabezado */
/* .header {
    background-color: lightslategray;
    padding: 30px 20px;
}

.header__div {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header__div-menu{
    display: flex;
}
.header__div-menu li {
    margin: 0 15px;
}
.header__div-menu li a {
    color: #e2e8f0;
    font-size: 20px;
    font-weight: bold;
}
.header__div-menu li a:hover {
    color: tan;
}
.menu-mobile{
    display: none;
} */
/*main index*/

/* .hero{
    padding: 60px 20px;
    color: rgb(20, 11, 11)
}
.hero__container{

    max-width: 1200px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr;
    gap: 50px;

}
.hero__container-info h1{
    font-size: 50px;
    margin-bottom: 20px;

}
.hero__container-info p{
    margin-bottom: 40px;
    font-size: 30px;

}

.article-main__video{
    width: 100%;
    margin: 0 10px;
    border-radius: 10px;
}
.article-main{
    max-width: 1200px;
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.article-main h4{
    font-size: 35px;
}
.article-main ul{
    margin: 0 50px;
    font-size: 25px;
} */
/*footer index*/
/* .whatsapp{
    position: fixed;
    bottom: 40px;
    right: 20px;
}
.whatsapp a img{
    width: 60px;
}
.instagram{
    position: fixed;
    bottom: 40px;
    right: 100px;
}
.instagram a img{
    width: 60px;
} */


/*main galeria*/
/* .h1__galeria{
    text-align: center;
    font-size: 50px;
    margin-bottom: 20px;
}


.casamiento{
    max-width: 1200px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-bottom: 20px;
    margin: 0 auto;
}

.casamiento-p{
    margin: 0 50px;
    font-size: 35px;
}
.carousel-item img{
    border-radius: 20px;
} */


/* tarjetas */
/* .albumes{
    margin-top: 60px;
    padding: 0 20px;
}

.albumes__card{
    max-width: 1200px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 50px;

}

.card{
    background-color: #fff;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.6);
}

.card__header img{
    width: 100%;
    border-radius: 10px;
    margin-bottom: 20px;
    object-fit: cover;
}
.card__tittle{
    margin-bottom: 20px;
    font-size: 20px;
}
.card__text{
    margin-bottom: 40px;
}
.card__link{
    background-color: lightslategray;
    color: #fff;
    font-weight: bold;
    padding: 15px 0;
    border-radius: 10px;
    width: 100%;
    display: block;
    text-align: center;
}
.card__link:hover {
    background-color: tan;
} */

/*main-contacto*/
/* .contactoh1{
    font-size: 40px;
    text-align: center;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 100px;
}

.contacto{
    max-width: 1200px;
    display: grid;
    grid-template-columns:1fr;
    gap: 100px;
    margin: auto;
    justify-items: center;
}

.contacto__whatsapp{
    font-size: 35px;
    color: black;
    border-radius: 10px;
    text-decoration: none;
}
.contacto__whatsapp:hover {
    background-color: tan;
}
.contacto__whatsapp-img{
    width: 50px;
    margin: 20px;
}

.contacto__instagram{
    font-size: 35px;
    color: black;
    border-radius: 10px;
    text-decoration: none;
}
.contacto__instagram:hover {
    background-color: tan;
}
.contacto__instagram img{
    width: 50px;
    margin: 20px;
}

.contacto__gmail{
    text-decoration: none;
    font-size: 35px;
    color: black;
    border-radius: 10px;
}
.contacto__gmail:hover {
    background-color: tan;
}
.contacto-img-gmail{
    width: 50px;
    margin: 20px;

}
.contacto__ubicacion{
    padding: 15px ;
    border-radius: 10px;
}
.contacto__ubicacion:hover {
    background-color: tan;
}
.contacto__ubicacion iframe{
    border-radius: 15px;

}
.contacto__ubicacion h2{
    text-align: center;
    margin-bottom: 50px;
    font-size: 40px;
} */
/*main presupuesto*/
/* .presupuesto h4{
    font-size: 35px;
    margin-top: 50px;
    margin-bottom: 50px;
    text-align: center;
}

.form{
    max-width: 1200px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 50px;
    margin: auto;
    background-color: lightslategray;
    border-radius: 10px;
    padding: 20px;
}
.form label{
    font-size: 35px;
}

option{
    font-size: 20px;
    color: black;
}
button{
    font-size: 15px;
    color: black;
} */
/* media queries index */
@media (min-width:300px) and (max-width:500px) {
    .header__div__navbar{
        display: none;
    }
    .hero__container-info h1{
        font-size: 30px;
    }
    .hero__container-info p{
        font-size: 25px;
        margin: auto;
    }
    .article-main{
        display: block;    
    }
    .hero__container-video{
        width: 250px;
        margin: auto;
    }
    .article-main ul{
        margin: auto;
        margin-top: 20px;
    }
    .article-main ul h4{
        font-size: 25px;
    }
    .article-main ul li{
        font-size: 25px;
    }
    .whatsapp a img{
        width: 40px;
    }
    .instagram a img{
       width: 40px;
    }
}
/* media queries galeria */
@media (min-width:300px) and (max-width:500px) {
    .h1__galeria{
        font-size: 30px;
    }
    .casamiento{
        display: block;
        margin: auto;
    }
    .casamiento-p{
        font-size: 25px;
    }
    .albumes__card{
        display: block;
    }
    .card{
        margin-bottom: 20px;
    }
    .card__tittle{
        font-size: 20px;
        text-align: center;
    }
    .card__text{
        font-size: 20px;
    }
}