.whatsapp{
    position: fixed;
    bottom: 40px;
    right: 20px;

        img{
            width: 60px;
        }
}
.instagram{
    position: fixed;
    bottom: 40px;
    right: 100px;

        img{
            width: 60px;
        }
}