.header {
    background-color: rgb(153, 169, 143);
    padding: 30px 20px;
    position: sticky;
    top: 0;
    z-index: 2;

        &__div{
            max-width: 1200px;
            margin: 0 auto;
            display: flex;
            justify-content: space-between;
            align-items: center;
            h2{
                border-style: solid;
                border-radius: 10px;
                padding: 5px;

                a{
                    color: black;
                       
                }
                    &:hover{
                        background-color: rgb(255, 248, 222);
                    }
            }
        }
}

@media (min-width: $bpMedium) {
    .header__div{
         &-menu{
             display: flex;  
                     H2{
                         font-weight: bold;
                         font-size: 50px;
                         color: #fff;
                     }
                   
                  
                     li{
                         margin: 0 15px;
                         a{
                             color: #e2e8f0;
                             font-size: 30px;
                             font-weight: bold;
                             &:hover{
                                 color: rgb(255, 248, 222);
                             }
                         }
                     }
         }
    }
    .menu-mobile{
        display: none;
    }
}
@media (min-width: $bpSmall) and (max-width: $bpMedium) {
.header__div-menu{
    display: none;
}

.container-fluid{
    background-color: rgb(153, 169, 143);
}

}