.h1__galeria{
    text-align: center;
    font-size: 40px;
    margin-bottom: 40px;
    font-weight: bold;
}

.casamiento{
    max-width: 1200px;
    // display: grid;
    // grid-template-columns: 1fr 1fr;
    margin-bottom: 20px;
    margin: 0 auto;
   
        p{
            margin: 0 50px;
            font-size: 30px;
        }
        img{
            border-radius: 20px;
            box-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.6);
            // padding: 10px;

        }

}

.albumes{
    margin-top: 60px;
    padding: 0 20px;

        &__card{
            max-width: 1200px;
            margin: 0 auto;
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            gap: 50px;
        }
    }
.card{
        background-color: rgb(214, 232, 219);
        border-radius: 10px;
        padding: 20px;
        box-shadow: 20px 21px 11px 0px rgba(0,0,0,0.2);
        margin-bottom: 50px;


            img{
                 width: 100%;
                border-radius: 10px;
                margin-bottom: 20px;
                object-fit: cover;
            }


            h2{
                margin-bottom: 20px;
                font-size: 20px;
                text-align: center;
                }
            p{
                margin-bottom: 40px;
            }
            a{
                background-color: rgb(193, 208, 181);
                color: #fff;
                font-weight: bold;
                padding: 15px 0;
                border-radius: 10px;
                width: 100%;
                display: block;
                text-align: center;
                    &:hover{
                        transform: translateY(-15px);
                    }
            }
    }
    @media (min-width: $bpSmall) and (max-width: $bpMedium) {
        .casamiento{
            display: block;
            margin: 0 10px;
            p{
                margin-top: 10px;
            }
        }
        .albumes__card{
            display: block;
        }
    }
    @media (min-width: $bpMedium) {
        .casamiento{
            display: grid;
            grid-template-columns: repeat(2, 1fr);

        }
        .albumes__card{
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            gap: 50px;
        }

    }