@import"./presupuesto";
@import "./utils/variables";
.presupuesto {
    // display: block;
    h4{
        font-size: 35px;
    margin-top: 50px;
    margin-bottom: 50px;
    text-align: center;
    }

    .form{
    max-width: 1200px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 50px;
    margin: auto;
    background-color: lightslategray;
    border-radius: 10px;
    padding: 20px;
        label {
            font-size: 35px;
        }
        option{
            font-size: 20px;
            color: black;
        }
        button{
            font-size: 15px;
            color: black;
        }
    }
}

@media (min-width: 300px) {
    .form{
        display: block;
        margin: auto;
       
    }
}